body {
	background-color: rgb(228, 228, 228)
}

.jumbotron {
	background: rgb(86, 110, 110);
	color: white;
}

.panel-default .panel-heading {
	background-color: rgb(86, 110, 110);
	color: white;
}

.btn {
	background-color: rgb(86, 110, 110);
	color: white;
}
